:root {
    --background-color1:  #408EC6;
    --background-color2: #7A2048;
    --background-color3: #1E2761;
  }
  
  * {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    color: white;
  }
  
  html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
  }
  
  body {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  
  #navbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end; 
    align-items: center;
    width: 100%;
    height: 10vh;
    background-color: var(--background-color1);
    position: fixed;
    z-index: 1;
    border-bottom: 0.5vh solid rgba(0,0,0,0.25);
  }
  
  a {
    text-decoration: none;
  }
  
  .nav-wrap {
    height: 10vh;
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
  }
  
  .nav-box {
    height: 100%;
    width: 7rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: background-color 0.25s linear 0s;
  }
  
  .nav-box:hover {
    background-color: var(--background-color2);
  }
  
  .nav-text {
    height: 1.25rem;
    text-decoration: none;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 700;
  }
  
  #welcome-section {
    background: linear-gradient(45deg, #4556C6, #1E2761);
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
  
  #profile-box {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  #profile-pic {
    height: 250px;
    width: 250px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 0 5px 0.5px;
  }
  
  #profile-box > h1 {
    font-size: 3rem;
    margin: 1rem auto;
    text-align: center;
  }
  
  #profile-box > p {
    font-size: 1.75rem;
    color: var(--background-color1);
    font-style: italic;
    margin-top: 0;
    text-align: center;
  }
  
  #projects {
    width: 100%;
    height: 250vh;
    margin: 0;
    padding: 15vh 5px;
    background-color: var(--background-color2);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  #projects > h1 {
    width: 100%;
    text-align: center;
    padding: 0;
    margin: 0;
    font-size: 2.5rem
  }
  
  #underline {
    border-bottom: 2px solid white;
    width: 65ch;
    margin: 0.5rem auto;
  }
  
  #gallery {
    display: grid;
    grid-template-columns: 400px 400px;
    grid-template-rows: 500px 500px;
    width: 100%;
    height: 200vh;
    column-gap: 4rem;
    row-gap: 4rem;
    justify-content: center;
    margin-top: 4rem;
  }
  
  .project-tile {
    box-shadow: 0 0 5px 0.5px black;
  }
  
  .project-pic {
    width: 100%;
    height: 85%;
    object-fit: cover;
  }
  
  .project-name-box {
    height: 15%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: var(--background-color3);
    transition: content 1s linear 0s;
  }
  
  .project-name {
    text-align: center;
    font-size: 1.25rem;
    text-decoration: none;
  }
  
  .project-name-box::before {
    content: "< ";
    color: transparent;
    font-size: 1.25rem;
    transition: color 0.25s linear 0s;
  }
  
  .project-name-box:hover::before {
    color: #FF8C00;
  }
  
  .project-name-box::after {
    content: " />";
    color: transparent;
    font-size: 1.25rem;
    transition: color 0.25s linear 0s;
  }
  .project-name-box:hover::after {
    content: " />";
    color: #FF8C00;
    font-size: 1.25rem;
  }
  
  #show-all {
    background-color: var(--background-color3);
    border: none;
    width: 10rem;
    height: 4rem;
    margin-top: 3rem;
    margin-bottom: 2rem;
    transition: background-color 0.25s linear 0s;
  }
  
  #show-all:hover {
    background-color: var(--background-color1);
  }
  
  #show-all:hover > i {
    transform: rotate(-45deg) translate(0.5rem, 0.5rem);
  }
  
  #show-all > i {
    transition: transform 0.25s linear 0s;
  }
  
  .arrow {
    border: solid white;
    border-width: 0 5px 5px 0;
    display: inline-block;
    padding: 3px;
    height: 15px;
    width: 15px;
  }
  
  .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  
  .button-text {
    font-size: 1.25rem;
  }
  
  #contact {
    width: 100%;
    height: 100vh;
    background-color: var(--background-color3);
    padding: 20vh 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  #footer-title {
    width: 100%;
    text-align: center;
    font-size: 4rem;
    font-weight: 700;
  }
  
  #footer-subtitle {
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
    font-weight: normal;
    font-style: italic;
    margin-top: 20px;
  }
  
  .icons-bar {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 40px;
  }
  
  .icon-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: transform 0.25s linear 0s;
  }
  
  .icon-img {
    height: 30px;
    margin-right: 3px;
  }
  
  .icon-name {
    font-size: 1.5rem;
  }
  
  .icon-box:hover {
    transform: translateY(10px);
  }
  
  #footer-line {
    width: 100%;
    border-bottom: 5px solid var(--background-color1);
    margin-top: 90px;
  }
  
  #attribution-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  li:hover, li > a:hover {
    color: var(--background-color1);
  }
  
  /* For GitHUb Page */
  @media screen and (max-width: 1300px) {
    #projects {
      height: 250vh;
    }

    #contact {
      height: 120vh;
    }

    #gallery {
      display: grid;
      grid-template-columns: 350px 350px;
      grid-template-rows: 450px 450px;
      width: 100%;
      height: 180vh;
      column-gap: 4rem;
      row-gap: 4rem;
      justify-content: center;
      margin-top: 4rem;
    }
  }

  /* For freeCodeCamp */
  @media screen and (max-width: 1000px) {
    #contact {
      width: 100%;
      height: 110vh;
    }
  }
  
  
  @media screen and (max-height: 450px) and (max-width: 950px ) {
    #profile-box {
      margin-top: 15vh
    }
    #profile-pic {
      height: 200px;
      width: 200px;
    }
    #projects {
      height: 250vh;
    }
    #gallery {
    display: grid;
    grid-template-columns: 400px 400px;
    grid-template-rows: 70vh 70vh;
    width: 100%;
    height: 250vh;
    column-gap: 4rem;
    row-gap: 4rem;
    justify-content: center;
    margin-top: 4rem;
  }
    #contact {
      height: 150vh;
    }
  }
  
  @media screen and (max-width: 750px) {
    #projects {
      width: 100%;
      height: 500vh;
      margin: 0;
      padding: 15vh 5px;
      background-color: var(--background-color2);
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    #gallery {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      height: 460vh;
    }
  
    #show-all {
      background-color: var(--background-color3);
      border: none;
      width: 10rem;
      height: 4rem;
    }
  
    #contact {
      height: 180vh;
    }
  
    .icons-bar {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: 90%;
      height: 20%;
    }
  
    #profile-box {
      margin-top: 10vh;
    }
  
    #profile-pic {
      height: 180px;
      width: 180px;
      border-radius: 50%;
      object-fit: cover;
    }
  
  #profile-box > h1 {
      font-size: 2.75rem;
      margin: 1rem auto;
    }
  
  #profile-box > p {
      font-size: 1.5rem;
      color: var(--background-color1);
      font-style: italic;
      margin-top: 0;
    }
  }
  
  @media screen and (max-width: 350px) {
    html {
      font-size: 62.5%;
    }
  
    #projects {
      height: 350vh;
    }
  
    #gallery {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      height: 300vh;
    }
  }